<div class="PostFull">
  <p class="PostFull-details">
    <span class="PostFull-altText"> por </span> {{author}} | {{date format="DD MMM YYYY"}}
  </p>
  <h3 class="PostFull-title">
    <a href="{{url}}">{{title}}</a>
  </h3>
  <p class="PostFull-description">
    {{excerpt words="32"}}
  </p>
  <div class="Button">
    <a href="{{url}}" class="Button-more Button-n">
      Leer Más
    </a>
  </div>
</div>
