<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  {{!-- meta-title --}}
  <title>{{meta_title}}</title>

  {{!-- Friendly --}}
  <meta name="HandheldFriendly" content="True" />

  {{!-- Favicon --}}
  <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">

  <meta name="author" content="Alexei Mamani">
  <meta name="description" content="{{meta_description}}" />

  {{!-- Google --}}
  <link rel="author" href="https://plus.google.com" />
  <link rel="canonical" href="http://alexei.pro/" />

  {{!-- Otras configuraciones --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="theme-color" content="#4299D4">


  <link rel="stylesheet" href="./assets/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,600italic,700|Kanit:400,400italic,600,700,700italic,500,500italic' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  {{ghost_head}}
</head>
<body>

   {{{body}}}

   <script src="./assets/js/alexei.js"></script>
</body>
</html>
